@charset "UTF-8";

//// $
$color-header-back: #fff; // ヘッダー背景
$color-header-text: #131313; // ヘッダーテキスト
$color-header-back-dark: #131313; // マウスホバー時ヘッダー背景
$color-header-text-bright: #fff; // マウスホバー時ヘッダーテキスト

$color-accent-title: #f58163; // タイトルアクセントカラー

$color-lead-text: #fff; // リード文テキスト
$color-lead-back: #131313; // リード文背景

$color-base: #fff; // コンテンツ背景
$color-outline: #131313; // アウトライン
$color-text: #131313; // テキスト
$color-sub-title-text: #fff; // サブタイトルテキスト
$color-sub-title-back: #131313; // サブタイトル背景
$color-search-icon: #fff; // サーチマークアイコン

$color-lead-text: #fff; // リード文テキスト
$color-lead-back: #131313; // リード文背景

$color-back-theme: #009b65; // テーマトレンド背景色
$color-accent-theme: #f58163; // テーマトレンドアクセントカラー
$color-shadow-theme: #707cb3; // テーマトレンド影

$color-back-expression: #707cb3; // 表現トレンド背景色
$color-accent-expression: #f4db67; // 表現トレンドアクセントカラー
$color-shadow-expression: #009b65; // 表現トレンド影

$color-back-comments: #f58163; // コメント・イベント告知背景色
$color-accent-comments: #009b65; // コメント・イベント告知アクセントカラー
$color-shadow-comments: #aee19a; // コメント・イベント告知影
$color-shadow-2-comments: #f4db67; // コメント・イベント告知影2
$color-text-event: #fff; // イベントボタンテキスト
