@charset "UTF-8";

.creative-guest-comment-2022 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 680px;
  left: 0;
  z-index: 1;
  width: 480px;
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 60px;
  background-color: $color-base;
  border: 1px solid $color-outline;
  box-shadow: 20px 20px $color-shadow-comments, 21px 21px $color-outline,
    21px 19px $color-outline, 19px 21px $color-outline;
  @include maxq(md) {
    flex-direction: column;
    top: 1400px;
    width: 100%;
    margin-top: 0;
    padding: 40px;
    box-shadow: 10px 10px $color-shadow-comments, 11px 11px $color-outline,
      11px 9px $color-outline, 9px 11px $color-outline;
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin: 0 auto 50px;
    @include maxq(md) {
      flex-direction: column;
      margin: 0 auto 40px;
    }
  }

  &__image {
    width: 120px;
    height: 120px;
    margin-right: 50px;
    border: 1px solid $color-outline;
    box-shadow: 10px 10px $color-outline;
    @include maxq(md) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__name-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    @include maxq(md) {
      text-align: center;
    }
  }

  &__name {
    margin-bottom: 10px;
    @include font-size(20);
    color: $color-text;
    font-weight: bold;
  }

  &__career {
    margin-bottom: 10px;
    @include font-size(14);
  }

  &__sns-link {
    i {
      @include font-size(20);
      color: $color-text;
    }
  }

  &__text {
    @include font-size(14);
    color: $color-text;
    letter-spacing: 0.07em;
    line-height: 1.7;
  }
}
